body {
    background-color: #552583;
    font-family: 'Montserrat', sans-serif;
    color: white;
}


.navbar-brand img {
    width: 180px;   
    height: auto;
}


.nav-link {
    color: white;
    font-weight: bold;
    font-size: 1.2rem; 
}

.nav-link:hover {
    color: #fdb927 ;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 6rem;  
    line-height: 1;
}


.subtext {
    font-weight: 300;
    margin-top: 10px;
    font-size: 1.5rem; 
}


.jersey-number {
    font-size: 4rem; 
    font-weight: bold;
    color: #fdb927;
}


.player-img {
    width: 100%;
    max-width: 550px;  
}


.btn-custom {
    background-color: #fdb927;
    color: #552583;
    border: none;
    padding: 15px 35px;  
    font-weight: bold;
    font-size: 1.2rem;
}

.btn-custom:hover {
    background-color: #e0a800;
}